/* Global: Common classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:
    /* This list uses the best available font on any system. */
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 10pt;

  background-color: #EEF2FF;
  background-image: linear-gradient(to bottom, #d1d5ee 0, #eef2ff 200px);
  background-repeat: no-repeat;

  position: relative;
  height: 100%;

  color: black;
}

body {
  position: relative;
  min-height: 100%;
}

hr {
  border-bottom: none;
  border-top: 1px solid #b7c5b9;
  margin: 0.25rem 1rem;
}

[type=text], [type=password], textarea {
  /* Reset the colors (for dark themes) */
  background-color: initial;
  color: initial;
}

/* Link styling */
a, a:visited {
  color: #34345C;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  outline: none;
}

/* Hidden class */
.hidden { display: none; }

/* Move control checkboxes off the page */
.control-checkbox {
  position: fixed;
  top: -10px;
  left: -10px;
}

/* List enclosed by [] and separated by / */

.bracket-list {
  position: relative;
  color: #89a;
}

.bracket-list::before { content: "["; }
.bracket-list::after  { content: "]"; }

.bracket-list > *:not(:last-child)::after {
  content: "/";
  color: #89a;

  pointer-events: none;
  padding-left: 4px;
  padding-right: 2px;
}

/* Single button enclosed by [] */

.bracket-button::before,
.bracket-button::after {
  color: #89a;
}

.bracket-button::before { content: "["; margin-right: 2px; }
.bracket-button::after { content: "]"; margin-left: 2px; }

/* Global: Page Structure & Navigation */

.top-nav {
  position: relative;
  display: block;
  width: 100%;

  padding: 0.25rem 0.75rem;
}

#dynamicHeader {
  /* dissolve */
  display: contents;
}

#navOptionsSpan {
  float: right;
}

.logo, .logoImg {
  display: block;
  margin: 4rem auto;
}

footer {
  text-align: center;
}

div#footer {
  width: 100%;
  margin: 3rem 0 2rem;
}

.cute-bird {
  float: right;
  margin-right: 3rem;
  height: 64px;
  overflow: hidden;
}

.cute-bird img {
  display: inline-block;
  width: 96px;
  height: 64px;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  filter: drop-shadow(0 0 3px darkgray);
  transition: filter .5s ease;
}

.cute-bird img:hover {
  filter: drop-shadow(0 0 8px darkgray);
}

/* Page: Index */

#indexWrapper {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.site-name {
  font-size: 250%;
  text-align: center;
  margin-bottom: 2rem;
}

.top-boards {
  display: block;
  margin: 2rem 0;

  text-align: center;
}

.top-boards::before {
  display: block;
  content: "Top Boards";

  font-size: 133%;
  font-weight: bold;
}

.top-boards a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.25rem 0.75rem;

  background-color: #d1d5ee;
  border-radius: 4px;
}

#bottom-links {
  display: block;
  text-align: center;
  margin: 1rem auto;
}

.latest-activity {
  display: flex;
  width: 100%;
}

.latest-activity > *,
#divStats {
  width: 50%;
  margin: 1rem;
  padding: 0.5rem;

  background-color: #D6DAF0;
  border-width: 1px;
  border-style: none solid solid none;
  border-color: #B7C5D9;
}

.latest-activity > *::before,
#divStats::before {
  display: block;

  margin: -0.5rem -0.5rem 0.5rem;
  padding: 0.5rem 1rem;

  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid #B7C5D9;
}

#divLatestImages::before { content: "Latest Images"; }
#divLatestPosts::before { content: "Latest Posts"; }
#divStats::before { content: "Stats"; }
#divStats { width: calc(100% - 2rem); }

#divStats span {
  font-weight: bold;
}
#divLatestImages,
#divLatestPosts {
  text-align: center;
}

#divLatestImages img {
  width: 45%;
  height: 128px;
  margin: 0.5rem;

  object-fit: contain;
}

.latestPostCell {
  display: inline-block;
  width: 45%;
  margin: 0.5rem;

  background-color: #EEF2FF;
  border: 1px solid #B7C5D9;

  padding: 0.5rem 0.25rem;
}

.labelPreview {
  display: block;
}

@media (max-width: 720px) {
  .latest-activity {
    flex-flow: row wrap;
  }

  .latest-activity > * {
    width: 100%;
  }
}

/* Page: Board list */

#boardsWrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.boards-list {
  width: 100%;
}

.boards-list th {
  text-align: center;

  background-color: #98E;
  border: 1px solid;
}

.boards-list td {
  padding: 3px;
}

.boards-list thead th:nth-child(1),
.boards-list tbody td:nth-child(1),
.boards-list thead th:nth-child(2),
.boards-list tbody td:nth-child(2) {
  max-width: 200px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.boards-list tbody tr:nth-of-type(2n) {
  background-color: #D6DAF0;
}

#boardsWrapper .search {
  margin-top: 1rem;
  text-align: center;
}

#divPages {
  text-align: center;
  margin: 1rem;
}

/* Layout: Board pages */

.board-header {
  text-align: center;

  margin: 3rem 0 2rem;
}

#labelName {
  font-size: 200%;
  font-weight: bold;
}

#labelDescription {
  font-size: 125%;
}

/* Layout: Post form */

#postingForm {
  display: block;
  margin: 1rem auto 4rem;
  text-align: center;
}

.post-form-container {
  position: relative;
  display: inline-block;
  text-align: left;
}

#posting-table {
  min-width: 350px;
}

#posting-table th, #posting-extra-table th {
  background-color: #98E;
  padding: 0.5rem 1rem;
  padding-left: 0.5rem;
}

#posting-table td input,
#posting-table td textarea,
#posting-extra-table td [type=text],
#posting-extra-table td [type=password] {
  width: 100%;
}

#posting-table td input,
#posting-table td textarea {
  min-width: 300px;
}

#posting-table textarea {
  min-height: 8rem;
}

#posting-table label {
  display: block;
}

.posting-extra {
  position: relative;
  margin: 0.25rem;
}

.posting-extra summary {
  padding: 0.5rem;
  cursor: pointer;
  width: 100px;
}

.posting-extra summary:focus-within {
  outline: none;
}

#posting-extra-table {
  width: 100%;
}

.post-submit {
  position: absolute;
  right: 0;

  margin: 0.375rem 0.375rem 0 0;
  min-width: 96px;

  z-index: 1;
}

.dropzone {
  background-color: #CCC;
  padding: 0.5rem;

  cursor: pointer;
}

.dropzone p {
  padding: 0.25rem;
  text-align: center;
  border: 3px dashed #7776;
  transition: border-color 0.33s ease;
}

.dropzone p:hover {
  border-color: #777C;
}

/* The selected files */

#selectedDiv, #selectedDivQr {
  background: #CCC;
  min-width: 300px;
}

.removeButton {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);

  font-size: 1.5rem;

  cursor: pointer;
}

.selectedCell {
  position: relative;
  display: block;
  padding: 0.5rem;
}

.nameLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dragAndDropThumb {
  max-width: 64px;
  max-height: 64px;
  margin-left: 2rem;
}

.spoilerCheckBox {
  width: auto !important;
  min-width: 0 !important;
}

.spoilerPanel {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Class: Thread container/OP container */

.opCell {
  margin: 1rem;
}

.opCell::after {
  content: "";
  display: block;
  clear: both;
}

.opCell > hr {
  margin-left: 0;
  margin-right: 0;
}

.opCell:first-child > hr {
  margin-top: 0;
  margin-bottom: 1rem;
}

.multipleUploads .opHead {
  clear: both;
}

.contentOmissionIndicator {
  font-style: italic;
  margin: 0.5rem;
}

.labelOmission {
  margin-bottom: 0.5rem;
}

/* Class: Post files */

figure.uploadCell {
  float: none;
}

.opCell.multipleUploads .innerOP figure.uploadCell,
.postCell.multipleUploads .innerPost figure.uploadCell {
  float: left;
}

.imgLink {
  float: left;
  margin: 0 1rem 1rem 0.5rem;
}

.opCell.multipleUploads .innerOP .panelUploads::after,
.postCell.multipleUploads .innerPost .panelUploads::after {
  content: "";
  display: block;
  clear: both;
}

.uploadDetails {
  margin: 0.25rem;
  margin-left: 0;
  font-size: 80%;
}

.imgLink > * {
  max-width: 100%;
}

/* Class: Post */

.opHead > *,
.postInfo > * {
  vertical-align: top;
}

.innerPost, .markedPost {
  display: inline-block;
  max-width: 94%;

  margin: 0.2rem 4px;
  padding: 0.5rem 0.3rem 0.5rem 0.6rem;
  border-width: 1px;
  border-style: none solid solid none;
  border-color: #B7C5D9;
}

.innerPost {
  background-color: #D6DAF0;
}

.markedPost {
  background-color: #D6BAD0;
}

.divMessage {
  margin: 0.8rem 0 0 1.8rem;
  padding: 0 3rem 0.3rem 0;
}

.labelSubject {
  color: #0F0C5D;
  font-weight: bold;
}

.linkName {
  font-weight: bold;
  text-decoration: underline;
}

.linkName.noEmailName {
  color: #117743;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.labelYou {
  color: #117743;
  font-style: italic;
  margin-right: 0.125rem;
}

.labelRole {
  color: red;
  font-weight: bold;
}

.imgFlag {
    max-width: 16px;
    max-height: 16px;
}

.labelRole::before { content: "## "; }
.labelRole::after { content: " ##"; }

.labelId {
  margin: 0.125rem;
  padding: 0.125rem 0.375rem;

  color: white;
  text-shadow:
    -1px -1px 0 #333,
     1px -1px 0 #333,
    -1px  1px 0 #333,
     1px  1px 0 #333;
  border-radius: 4px;
  cursor: pointer;
}

.linkSelf, .linkQuote,
.linkSelf:visited, .linkQuote:visited {
  color: black;
}

.panelBacklinks a {
  font-size: 80%;
  text-decoration: underline;
  margin: 0 0.25rem;
}
.quoteLink, .quoteLink:visited {
  color: red;
  text-decoration: underline;
}

.quoteLink.you:after {
  content: " (You)";
  font-size: 75%;
  color: #000;
  text-decoration: none;
}

.divBanMessage {
  font-weight: bold;
  font-size: 2rem;
  color: #d00;

  margin: 0.5rem;
  margin-left: 0.8rem;
}

.divBanMessage::before {
  content: "\f05e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.25rem;
}

.labelLastEdit {
  margin-left: 0.8rem;
  color: #444;
  font-style: italic;
}

/* Class: Post styling */

.greenText { color: #789922; }
.pinkText { color: rgb(224, 114, 127); }
.redText { font-size: 1.25rem; color: #D00; font-weight: bold; }

.spoiler {
  background: black;
  color: black;
  padding: 2px 4px;

  transition: color .125s ease-in-out;
}

.spoiler:hover {
  color: white;
}

/* Class: Hovering posts */

.quoteTooltip {
  position: absolute;
  z-index: 1000;

  min-width: 300px;
  pointer-events: none;

  box-radius: 3px 3px 2px #666;
}

.quoteTooltip .innerPost {
  border-style: solid;
}

/* Class: Quick reply form */

#quick-reply-container {
  position: fixed;
  z-index: 100;
  min-width: 300px;

  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);

  transition: .1s ease-in;
  transition-property: opacity, transform;
}

#quick-reply-container.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);

  transition-duration: ease-out;
}

#quick-reply {
  background-color: #D6DAF0;
  transform: rotate3d(1, 0, 0, 30deg);

  transition: transform .1s ease-in;
}

#quick-reply-container.show #quick-reply {
  transform: rotate3d(0,0,0, 30deg);
  transition: transform .1s ease-in;
}

.post-table {
  width: 100%;
}

#quick-reply .handle {
  background-color: #98E;
  display: block;
  border: 1px solid black;
  margin: -2px;
  padding: 2px;

  cursor: move;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#quick-reply .handle .close-btn {
  position: absolute;
  right: 7px;
  cursor: pointer;
}

.post-table [type=text],
.post-table [type=password],
.post-table textarea {
  width: 100%;
  min-width: 300px;
}

.post-table textarea {
  min-height: 8rem;
}

.qr-details table {
  margin: 0.5rem -3px 0;
  width: calc(100% + 6px);
}

/* Page: Board index/thread */

#postingForm::before {
  display: block;
  font-size: 112.5%;
  font-weight: bold;

  margin-bottom: 0.5rem;
}

.board-nav {
  margin: 1rem;
}

#board-top-nav { margin-bottom: 0.25rem; }
#board-bottom-nav { margin-top: 0.25rem; }

#board-index #postingForm::before { content: "New Thread"; }
#board-thread #postingForm::before { content: "New Reply"; }

.divRefresh {
  margin: 0.5rem 2rem;
}

#bottomForms {
  text-align: center;
}

#divThreads::after {
    content: "";
    display: block;
    clear: both;
}

#board-index #board-bottom-nav {
  display: flex;
  justify-content: space-between;
}

#board-index #divPages::before,
#board-index #divPages::after { content: ""; }
#board-index #divPages { margin: 0; }

#pages-container {
  display: inline-block;
}

#showFormsButton {
  cursor: pointer;
}

/* Page: Board catalog */

#board-catalog .board-header {
  font-size: 2rem;
}

#board-catalog .board-header a {
  text-decoration: underline;
}

#divTools {
  float: right;
}

#board-catalog #board-top-nav {
  line-height: 2.5;
}

#board-catalog #board-top-nav::after {
  content: "";
  display: block;
  clear: both;
}

.catalogDiv {
  margin: 1.5rem;
  padding: 20px 0;
  text-align: center;
}

.catalogCell {
  position: relative;
  display: inline-block;
  vertical-align: top;

  word-wrap: break-word;
  overflow: hidden;

  margin: 5px 0 20px;
  padding: 5px 0 3px;

  width: 180px;
  max-height: 320px;
}

.threadStats {
  font-size: 80%;
}

.catalogCell img {
  display: inline;
  box-shadow: 0 2px 3px #0004;

  max-width: 150px;
  max-height: 150px;
}

.catalogCell .divMessage {
  margin: 0;
  padding: 0 15px;
}

/* Class: Report menus and moderation panels */

.reportFieldset,
#settingsFieldset {
  text-align: left;

  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 1rem;
  padding: 1rem;
  min-height: 300px;

  background-color: #D6DAF0;

  border-width: 1px;
  border-style: none solid solid none;
  border-color: #B7C5D9;
}

.reportFieldset legend,
#settingsFieldset legend {
  display: block;
  width: calc(100% + 2rem);
  margin: -1rem -1rem 1rem;
  padding: 0.25rem 0.75rem;
  font-weight: bold;

  border-bottom: 1px solid #b7c5b9;

  transform: translateY(1rem);
}

#settingsFieldset legend {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transform: translateY(1.5rem);
}

.reportFieldset label,
#settingsFieldset label {
  display: block;
}

.reportFieldset button,
#settingsFieldset button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

#settingsFieldset form {
  position: relative;
  padding-bottom: 4rem;
}

#settingsWrapper {
  display: block;
  text-align: center;
}

#settingsFieldset {
  margin: 0;
  margin-bottom: 3rem;

  width: 100%;
  max-width: 500px;
  min-width: 0;

  text-align: left;
}

#settingsFieldset ul,
#settingsFieldset ol {
  margin-left: 1rem;
}

/* Graphs & Logs */
#divDates { text-align: center; margin: 1rem; }
#divDates a {
  display: inline-block;
  width: 33%;
  text-align: center;
}

/* EXTRA: Floating menus */

.floatingMenu {
  background-color: #D6DAF0;
  border: 1px solid #B7C5D9;

  padding: 0.5rem;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.floatingMenu .header {
  margin: -0.5rem;
  padding: 0.5rem 1rem;

  cursor: move;

  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.floatingMenu .header + hr {
  margin: 0.5rem -0.5rem 0.5rem;
  width: calc(100% + 1rem);
}

/* menu buttons */
.menuClose {
  color: #34345C;
  cursor: pointer;
  float: right;

  font-size: 1.5rem;
  line-height: 1.5rem;
}

.menuClose:hover {
  color: red;
}

#watchedMenu, #settingsMenu {
  position: fixed;
  left: 100px;
  top: 25px;
  z-index: 100;

  width: 500px;
}

.extraMenuButton, .hideButton {
  position: relative;
}

.extraMenuButton i {
  font-size: 1.75rem;
  line-height: 1.25rem;

  padding-left: 0.5rem;
  padding-right: 0.25rem;

  cursor: pointer;
}

.hideButton i, .watchButton i {
  cursor: pointer;
  padding: 0.25rem;
}

.extraMenu, .hideMenu {
  position: absolute;
  left: 15px;
  top: -4px;

  display: inline-block;
  z-index: 10;

  min-width: 150px;
  margin: 0.25rem;
}

.extraMenu hr, .hideMenu hr {
  margin: 0.25rem 0;
  width: 100%;
}

.extraMenu div, .hideMenu div {
  margin: 0 0.5rem;

  color: #34345C;
  cursor: pointer;
}

.extraMenu div:hover,
.hideMenu div:hover {
  color: red;
}

/* EXTRA: Settings menu */

#settingsMenu {
  min-height: 300px;
}

.settingsTabs {
  margin: 0.5rem 0;
}

.settingsTab {
  background-color: #EEF2FF;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 4px;

  cursor: pointer;
  color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.settingsTab:hover {
  color: red;
}

#selectedTab {
  background-color: #98E;
  color: white;
}

.settingsContentPanel {
  margin: 1rem 0.5rem;
}

#newFilterPanel + div { font-weight: bold; }
#labelExistingFilterType, .existingFilterTypeLabel { display: inline-block; width: 80px }

.settingsContentPanel textarea {
  width: 100%;
  min-height: 200px;
}

/* EXTRA: Thread stats counter */

#divCounters {
  position: relative;
  float: right;
}

#counterReplies:after,
#counterFiles:not(:last-child):after {
  content: " | ";
}

#counterUids {
  font-size: 1rem;
  cursor: pointer;

  transition: text-shadow .25s ease;
}

#counterUids:hover {
  text-shadow: 0 0 6px #FF6666;
}

.uidBox {
  display: inline-block;
  width: 200px;
  height: 200px;

  position: absolute;
  top: -220px;
  right: 0;

  opacity: 0;
  pointer-events: none;
  transform: scale(0);

  transition: .25s ease;
  transition-property: opacity, transform;
}

#uidbox-checkbox:checked ~ .uidBox {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.uidBox .header label {
  font-size: 2rem;
  line-height: 1rem;
  float: right;
  cursor: pointer;
}

.uidBox .uids {
  overflow: auto;
  height: calc(100% - 2rem);
}

.uidBox .uids .labelId {
  display: inline-block;
  margin-right: 5px;
}

.replyToThread {
  float: right;
  padding-right: 20px;
}

/* EXTRA: Floating images */

.floatingImage {
  position: fixed;
  z-index: 1000;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

/* EXTRA: Modal */

.modalPanel {
  position: fixed;
  z-index: 10000;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #0006;
}

.modalInnerPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modalDecorationPanel {
  position: relative;
  padding: 0.5rem;

  background-color: #D6DAF0;
}

.modalHeader {
  display: block;
  margin: -0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.25rem;

  border-bottom: 1px solid #B7C5D9;

  font-weight: bold;
}

.modalDecorationPanel table,
.modalDecorationPanel [type=text],
.modalDecorationPanel [type=password]
{
  width: 100%;
}

.modalDecorationPanel table + span {
  display: block;
  text-align: center;
}

.modalDecorationPanel table + span input {
  margin: 0.5rem 0.25rem;
}

/* Extra: Captcha */

.captchaImageContainer {
  position: relative;
  width: 300px;
  height: 100px;

  margin-bottom: 0.5rem;
}

.captchaImage {
  width: 100%;
}

.reloadCaptchaButton, .captchaTimer {
  display: inline-block;
  background-color: #0008;
  color: white;

  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
}

.captchaTimer {
  left: 2.5rem;
}

/* EXTRA: Captcha modal */

.modalCaptchaControls {
  position: absolute;

  left: 0.5rem;
  top: calc(100px + 0.65rem);

  padding: 0.5rem;

  background-color: #0008;
  color: white;
}

.modalCaptchaControls i, .reloadCaptchaButton i {
  margin-right: 0.5rem;

  cursor: pointer;
}

.modalCaptchaControls i:hover,
.reloadCaptchaButton i:hover
{ color: red; }

/* EXTRA: Indicators */

.pinIndicator,
.lockIndicator,
.cyclicIndicator,
.bumpLockIndicator {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.pinIndicator::before {
  content: "\f08d";
}

.cyclicIndicator::before {
  content: "\f2f1";
}

.lockIndicator::before {
  content: "\f023";
}

.bumpLockIndicator::before {
  content: "\f13d";
}

/* EXTRA: (((them))) */

span.detected {
  background: white;
  color: #0038B8;
  position: relative;
}

span.detected::before {
  content: attr(data-value);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  height: 2.5rem;
  padding: .5rem;

  font-size: 2.3rem;
  font-weight: bold;

  text-shadow: 0 0 3px gold;
  color: black;

  background-image: url("/.static/david.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0;
  top: 0;
  transition: .25s ease;
  transition-property: top, opacity;

  pointer-events: none;
}

span.detected:hover::before {
  top: -7rem;
  opacity: 1;
}

span.detected::after {
  content: "New Sheqels were deposited into this user's account.";

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;

  font-size: 0.9rem;
  text-align: center;

  color: white;
  background: black;

  top: 0;
  opacity: 0;
  transition: .25s ease;
  transition-property: top, opacity;

  pointer-events: none;
}

span.detected:hover::after {
  top: -3.5rem;
  opacity: 1;
}
